#realme-5i-specs{
  .phones-selection{
    height: 760px;
    padding-top: 120px;
    background-color: #FAFAFA;

    .container{
      height: 100%;

      .phone-color-layout{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1.5fr;

        .phone-holder{
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .phone-list{
            height: 80%;
            width: 80%;
            margin: auto;
            position: relative;

            .phone-item{
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
              display: flex;
              justify-content: center;
              align-items: center;

              // original stata
              opacity: 0;
              transition: all ease-in 150ms;

              .img-holder{
                display: block;
                max-height: 100%;
                max-width: 100%;

                img{
                  width: 100%;
                }
              }

              &.active{
                opacity: 1;
                transition: all ease-out 200ms;
              }
            }
          }
        }

        .color-indicator{
          height: 100%;
          display: flex;
          align-items: center;

          .colors-selection-holder{
            display: flex;
            justify-content: center;
            width: 100%;

            .color-item{
              width: 30%;
              flex-basis: 30%;
              text-align: center;
              cursor: pointer;

              .color-icon{
                width: 60px;
                height: 60px;
                border-radius: 30px;
                position: relative;
                margin: 0 auto 12px;
                border: none;
                z-index: 1;

                &:after{
                  content: '';
                  width: 44px;
                  height: 44px;
                  position: absolute;
                  border: 5px solid #FAFAFA;
                  top: 3px;
                  left: 3px;
                  background-color: #434343;
                  border-radius: 30px;
                  box-sizing: content-box;
                }

                &:before{
                  content: '';
                  width: 62px;
                  height: 62px;
                  position: absolute;
                  top: -1px;
                  left: -1px;
                  border-radius: 50%;
                  opacity: 0;
                }
              }

              .color-name{
                font-size: 22px;
                color: #434343;
                font-weight: 600;
              }

              // Variations
              &.blue{
                .color-icon {
                  &:after, &:before {
                    background: linear-gradient(180deg, #B4DCFF, #0098DE);
                  }
                }
              }

              &.red{
                .color-icon {
                  &:after, &:before {
                    background: linear-gradient(180deg, #FF6565, #AC0000);
                  }
                }
              }

              // State
              &.active{
                .color-icon {
                  &:before{
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .spec-section{
    padding: 80px 0;

    .spec-block{
      display: flex;
      border-bottom: 1px solid #F0F0F0;
      padding-top: 30px;

      &:last-child{
        border-bottom: none;
      }

      .spec-label{
        font-size: 20px;
        width: 20%;
        flex-basis: 20%;
        flex-shrink: 0;
      }

      .spec-detail{
        display: grid;
        width: 80%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

        .span-1{
          grid-column: span 1;
        }
        .span-2{
          grid-column: span 2;
        }
        .span-3{
          grid-column: span 3;
        }
        .span-4{
          grid-column: span 4;
        }
        .span-5{
          grid-column: span 5;
        }
        .span-6{
          grid-column: span 6;
        }

        .detail-column{
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          padding: 0 15px;
          margin-bottom: 2.5em;

          &>*{
            width: 100%;
          }

          ul{
            font-size: 0.95em;
            line-height: 2em;
          }

          img{
            max-width: 100%;
          }

          h4, h5{
            font-weight: 400;
            font-size: 1.25em;
            margin: 0;
          }
        }
      }

      &#phone-size{
        margin-top: 5vw;
        margin-bottom: 0;

        .img-holder{
          height: 20vw;
          transform: translateY(-5vw);
        }
      }
    }
  }

  @media #{$information-laptop}{
    .spec-section{
      padding: 70px 0;

      .spec-block{
        .spec-label{
          font-size: 18px;
        }

        .spec-detail{
          .detail-column{
            padding: 0 15px;
            margin-bottom: 2.5em;

            &>*{
              width: 100%;
            }

            ul{
              font-size: 0.9em;
              line-height: 2em;
            }

            img{
              max-width: 90%;
              max-height: 130%;
            }

            h4, h5{
              font-size: 1.15em;
            }
          }
        }

        &#phone-size{
          margin-top: 5vw;
          margin-bottom: 0;

          .img-holder{
            height: 20vw;
            transform: translateY(-5vw);
          }
        }
      }
    }
  }

  /* === RESPONSIVE === */
  @media #{$information-tablet}{
    .phones-selection{
      height: 120vw;
      padding-top: 120px;

      .container{
        max-width: 100%;

        .phone-color-layout{
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 0.4fr;

          .phone-holder{
            .phone-list{
              height: 80%;
              width: 80%;
            }
          }

          .color-indicator{
            .colors-selection-holder{
              .color-item{
                width: 30%;
                flex-basis: 30%;

                .color-icon{
                  width: 60px;
                  height: 60px;
                  border-radius: 30px;
                  margin: 0 auto 12px;

                  &:after{
                    width: 44px;
                    height: 44px;
                    border: 5px solid #FAFAFA;
                    top: 3px;
                    left: 3px;
                    border-radius: 30px;
                  }

                  &:before{
                    content: '';
                    width: 62px;
                    height: 62px;
                    top: -1px;
                    left: -1px;
                    border-radius: 50%;
                    opacity: 0;
                  }
                }

                .color-name{
                  font-size: 22px;
                }
              }
            }
          }
        }
      }
    }

    .spec-section{
      padding: 20px 0;

      .spec-block{
        display: flex;
        flex-wrap: wrap;

        .spec-label{
          font-size: 20px;
          width: 100%;
          flex-basis: 100%;
          flex-shrink: 0;
          padding: 0 15px;
          margin-bottom: 15px;

          br{
            display: none;
          }
        }

        .spec-detail{
          display: grid;
          grid-template-columns: 1fr;
          width: 100%;

          .span-1, .span-2, .span-3, .span-4, .span-5, .span-6{
            grid-column: span 1;
          }

          .detail-column{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding: 0 15px;
            margin-bottom: 3em;

            &>*{
              width: 100%;
            }

            ul{
              font-size: 0.95em;
              line-height: 2em;
            }

            img{
              max-width: 100%;
            }

            h4, h5{
              font-weight: 400;
              font-size: 1.25em;
              margin: 0;
            }
          }
        }

        &#phone-size{
          margin-top: 5vw;
          margin-bottom: 0;

          .column-1{
            grid-row: 2;
          }

          .column-2{
            grid-row: 1;
            margin-bottom: 10vw;
          }

          .img-holder{
            height: 35vw;
            transform: translateY(0);
            margin: auto;
          }
        }
      }
    }
  }

  @media #{$information-phone}{
    .phones-selection{
      height: 130vw;
      padding-top: 10px;

      .container{
        max-width: 100%;

        .phone-color-layout{
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 0.35fr;

          .phone-holder{
            .phone-list{
              height: 60%;
              width: 60%;
            }
          }

          .color-indicator{
            .colors-selection-holder{
              .color-item{
                width: 33.33%;
                flex-basis: 33.33%;

                .color-icon{
                  width: 40px;
                  height: 40px;
                  border-radius: 30px;
                  margin: 0 auto 12px;

                  &:after{
                    width: 30px;
                    height: 30px;
                    border: 5px solid #FAFAFA;
                    top: 2px;
                    left: 2px;
                    border-radius: 30px;
                  }

                  &:before{
                    width: 46px;
                    height: 46px;
                    top: -1px;
                    left: -1px;
                    border-radius: 50%;
                    opacity: 0;
                  }
                }

                .color-name{
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}