#hr-home-page {
  /* About */
  .section-about-oppo,
  #home-about-oppo {
    position: relative;
    height: 53.125vw;
    overflow: hidden;

    .main-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 2;

      .title {
        margin: 9.5rem 0 4.5rem;
      }

      .cta-holder {
        display: flex;
        align-items: center;
        justify-content: center;

        .arrow {
          height: 2rem;
          margin-left: 0.65rem;

          img {
            max-height: 100%;
          }
        }
      }
    }

    .people-img-holder {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;

      .img-holder {
        img {
          display: block;
          width: 100%;
        }
      }
    }

    .grad-overlay {
      z-index: 2;
    }
  }
  /* About - END */

  @media #{$information-md-screen} {
    .section-about-oppo,
    #home-about-oppo {
      height: 57vw;

      .main-content {
        .title {
          margin: 8.3125rem 0 3.9375rem;
        }

        .cta-holder {
          .arrow {
            height: 1.75rem;
            margin-left: 0.56875rem;
          }
        }
      }
    }
  }

  @media #{$information-sm-screen} {
    .section-about-oppo,
    #home-about-oppo {
      height: 58vw;

      .main-content {
        .title {
          margin: 6.7rem 0 3.2rem;
        }

        .cta-holder {
          .arrow {
            height: 1.425‬rem;
            margin-left: 0.463125rem;
          }
        }
      }
    }
  }

  @media #{$information-sm-laptop} {
    .section-about-oppo,
    #home-about-oppo {
      height: 60vw;

      .main-content {
        .title {
          margin: 6.333rem 0 3rem;
        }

        .cta-holder {
          .arrow {
            height: 1.35‬rem;
            margin-left: 0.43rem;
          }
        }
      }
    }
  }

  @media #{$information-tablet} {
    .section-about-oppo,
    #home-about-oppo {
      height: 130vw;

      .main-content {
        .title {
          margin: 14.49vw 0 8.45vw;
        }

        .desc {
          margin-bottom: 7vw;
        }

        .cta-holder {
          .arrow {
            height: 1.5rem;
            margin-left: 0.5rem;
          }
        }
      }
    }
  }

  @media #{$information-phone} {
    .section-about-oppo,
    #home-about-oppo {
      height: 140vw;

      .main-content {
        .title {
          margin: 12vw 0 6.5vw;
        }

        .desc {
          margin-bottom: 7vw;
        }

        .cta-holder {
          .arrow {
            height: 1.15rem;
            margin-left: 0.5rem;
          }
        }
      }
    }
  }

  @media #{$information-sm-phone} {
    .section-about-oppo,
    #home-about-oppo {
      height: 140vw;

      .main-content {
        .title {
          margin: 11.5vw 0 5vw;
        }

        .desc {
          margin-bottom: 6vw;
        }

        .cta-holder {
          .arrow {
            height: 1.1rem;
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
}
