#hr-home-page {
  /* OPPO Global */
  .section-oppo-global,
  #home-oppo-global {
    position: relative;
    overflow: hidden;
    background-color: #f8f8f8;
    height: 54vw;

    .oppo-archivements {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 1rem;
      grid-template-rows: 135px;
      padding: 0 0.5rem;

      .archive-item {
        background-color: $oppo;
        border-radius: 20px;
        box-shadow: 0 0 8px rgba(#000, 0.5);
        font-size: 1.35rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .context {
          color: $white;
        }
      }
    }

    .globe-holder {
      position: absolute;
      top: 52%;
      left: 0;
      right: 0;

      canvas {
        width: 94%;
        height: auto;
        display: block;
        margin: auto;
        opacity: 0.25;
      }
    }
  }
  /* OPPO Global - END */
}
