#hr-home-page {
  /* Job Oppotuinities */
  .section-job-oppotunities,
  #home-job-opportunities {
    background-image: -webkit-linear-gradient(#ffffff, #f0f0f0);
    background-image: linear-gradient(#ffffff, #f0f0f0);

    .main-content {
      .content-head {
      }

      .content-body {
        .job-list-layout {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-column-gap: 10px;
          grid-row-gap: 80px;

          .job-item {
            .job-thumbnail {
              height: 17.708333vw;
              overflow: hidden;

              .img-holder {
                height: 100%;
                transition: all linear 300ms;

                img {
                  display: block;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-position: center;
                }
              }
            }

            .job-detail {
              height: 6.25vw;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              text-transform: uppercase;
              transition: all ease-in 150ms;
              position: relative;
              overflow: hidden;

              .job-detail-effect {
                width: 27vw;
                height: 27vw;
                position: absolute;
                background-color: $oppo;
                border-radius: 50%;
                opacity: 0;
                transform: scale(0);
              }

              .job-label {
                font-size: 0.2rem;
                margin: 0;
                transition: all ease-in 150ms;
                position: relative;
                z-index: 2;
              }
            }

            &:hover {
              .job-thumbnail {
                .img-holder {
                  transform: scale(1.06);
                  transition: all cubic-bezier(0.27, 0.85, 0.58, 1) 0.6s;
                }
              }

              .job-detail {
                .job-detail-effect {
                  transform: scale(1);
                  opacity: 1;
                  transition: all cubic-bezier(0.27, 0.85, 0.58, 1) 0.6s;
                }

                .job-label {
                  color: $white;
                  transition: all ease-out 300ms;
                }
              }
            }
          }
        }
      }

      .content-footer {
        .context {
          height: 100px;
          font-size: 0.175rem;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .lightbulb {
            width: 41px;
            margin-right: 0.065rem;
            -webkit-transform: translateY(-14%);
            transform: translateY(-14%);

            img,
            picture {
              display: block;
              width: 100%;
            }
          }

          .divider {
            -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
            margin: 0 0.05rem;
          }

          .arrow {
            height: 0.2rem;
            margin-left: 0.065rem;
            img {
              display: block;
              height: 100%;
            }
          }
        }
      }
    }
  }
  /* Job Oppotuinities - END */

  @media #{$information-md-screen} {
    .section-job-oppotunities,
    #home-job-opportunities {
      .main-content {
        .content-body {
          .job-list-layout {
            grid-column-gap: 10px;
            grid-row-gap: 70px;

            .job-item {
              .job-thumbnail {
                height: 18vw;
              }

              .job-detail {
                height: 6.25vw;

                .job-detail-effect {
                  width: 27vw;
                  height: 27vw;
                }

                .job-label {
                  font-size: 0.175rem;
                }
              }
            }
          }
        }

        .content-footer {
          .context {
            height: 90px;
            font-size: 0.1367rem;

            .lightbulb {
              width: 38px;
              margin-right: 0.06rem;
            }

            .divider {
              margin: 0 0.035rem;
            }

            .arrow {
              height: 0.175rem;
              margin-left: 0.056875rem;
            }
          }
        }
      }
    }
  }

  @media #{$information-sm-screen} {
    .section-job-oppotunities,
    #home-job-opportunities {
      .main-content {
        .content-body {
          .job-list-layout {
            grid-column-gap: 8px;
            grid-row-gap: 60px;

            .job-item {
              .job-thumbnail {
                height: 18vw;
              }

              .job-detail {
                height: 6.25vw;

                .job-label {
                  font-size: 0.15rem;
                }
              }
            }
          }
        }

        .content-footer {
          .context {
            height: 85px;
            font-size: 0.1125rem;

            .lightbulb {
              width: 36px;
              margin-right: 0.05rem;
            }

            .divider {
              margin: 0 0.03rem;
            }

            .arrow {
              height: 0.14rem;
              margin-left: 0.0463125rem;
            }
          }
        }
      }
    }
  }

  @media #{$information-sm-laptop} {
    .section-job-oppotunities,
    #home-job-opportunities {
      .main-content {
        .content-body {
          .job-list-layout {
            grid-column-gap: 8px;
            grid-row-gap: 40px;

            .job-item {
              .job-thumbnail {
                height: 18vw;
              }

              .job-detail {
                height: 6.25vw;

                .job-label {
                  font-size: 0.135rem;
                }
              }
            }
          }
        }

        .content-footer {
          margin-top: 0.15rem;
          .context {
            height: 85px;
            font-size: 0.1125rem;

            .lightbulb {
              width: 32px;
              margin-right: 0.035rem;
            }

            .divider {
              margin: 0 0.03rem;
            }

            .arrow {
              height: 0.13rem;
              margin-left: 0.043rem;
            }
          }
        }
      }
    }
  }

  @media #{$information-tablet} {
    .section-job-oppotunities,
    #home-job-opportunities {
      .main-content {
        .content-head {
        }

        .content-body {
          .job-list-layout {
            display: grid;
            grid-template-columns: 1fr;
            padding: 0 30px;
            grid-column-gap: 10px;
            grid-row-gap: 30px;

            .job-item {
              .job-thumbnail {
                height: 60vw;
              }

              .job-detail {
                height: 12.5vw;

                .job-detail-effect {
                  width: 150vw;
                  height: 150vw;
                }

                .job-label {
                  font-size: 0.135rem;
                }
              }
            }
          }
        }

        .content-footer {
          margin-top: 0;

          .context {
            height: 120px;
            font-size: 0.1125rem;

            .lightbulb {
              width: 41px;
              margin-right: 0.065rem;
              -webkit-transform: translateY(-14%);
              transform: translateY(-14%);
            }

            .divider {
              -webkit-transform: translateY(-5%);
              transform: translateY(-5%);
              margin: 0 0.025rem;
            }

            .arrow {
              height: 0.165rem;
              margin-left: 0.035rem;
              transform: translateY(25%);
            }
          }
        }
      }
    }
  }

  @media #{$information-phone} {
    .section-job-oppotunities,
    #home-job-opportunities {
      .main-content {
        .content-body {
          .job-list-layout {
            display: grid;
            grid-template-columns: 1fr;
            padding: 0 15px;
            grid-column-gap: 10px;
            grid-row-gap: 10px;

            .job-item {
              .job-thumbnail {
                height: 56vw;
              }

              .job-detail {
                height: 18.5vw;

                .job-detail-effect {
                  width: 150vw;
                  height: 150vw;
                }

                .job-label {
                  font-size: 0.135rem;
                }
              }
            }
          }
        }

        .content-footer {
          margin-top: 0;

          .context {
            height: 120px;
            font-size: 0.12rem;
            line-height: 0.5;

            .lightbulb {
              width: 38px;
              margin-right: 0.035rem;
            }

            .divider {
              -webkit-transform: translateY(-5%);
              transform: translateY(-5%);
              margin: 0 0.015rem;
            }

            .arrow {
              height: 0.135rem;
              margin-left: 0.025rem;
              transform: translateY(25%);
            }
          }
        }
      }
    }
  }

  @media #{$information-sm-phone} {
    .section-job-oppotunities,
    #home-job-opportunities {
      .main-content {
        .content-body {
          .job-list-layout {
            padding: 0 13px;

            .job-item {
              .job-thumbnail {
                height: 56vw;
              }

              .job-detail {
                height: 17vw;

                .job-detail-effect {
                  width: 150vw;
                  height: 150vw;
                }

                .job-label {
                  font-size: 0.125rem;
                }
              }
            }
          }
        }

        .content-footer {
          .context {
            height: 100px;
            font-size: 0.09rem;
            line-height: 0.5;

            .lightbulb {
              width: 34px;
              margin-right: 0.035rem;
            }

            .divider {
              margin: 0 0.015rem;
            }

            .arrow {
              height: 0.12rem;
              margin-left: 0.025rem;
              transform: translateY(25%);
            }
          }
        }
      }
    }
  }
}
