#hr-home-page {
  /* Testimonials */
  .section-testimonial,
  #home-testimonial {
    height: 40.625vw;
    width: 100%;
    overflow: hidden;
    position: relative;

    .next-slide,
    .prev-slide {
      position: absolute;
      width: 60px;
      height: 60px;
      top: calc(50% - 30px);
      cursor: pointer;

      .shape-holder {
        width: 60px;
        height: 60px;
        border: 3px solid $oppo;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    .next-slide {
      right: 60px;
      animation: arrowMove 1s linear infinite;

      .shape-holder {
        border-bottom: 0;
        border-left: 0;
      }
    }

    .prev-slide {
      left: 60px;
      animation: arrowMove 1s 0.5s linear infinite;

      .shape-holder {
        border-top: 0;
        border-right: 0;
      }
    }

    .bg-effect {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .decor-circle {
        position: absolute;

        .img-holder {
          img {
            width: 100%;
            display: block;
          }
        }

        &.circle-1 {
          width: 79%;
          top: -123%;
          left: 5%;
          opacity: 0.8;
          -webkit-animation: rotating 125s linear infinite;
          animation: rotating 125s linear infinite;
        }

        &.circle-2 {
          width: 38%;
          top: -33%;
          left: 75%;
          opacity: 0.6;
          -webkit-animation: rotating 59s linear infinite;
          animation: rotating 59s linear infinite;
        }

        &.circle-3 {
          width: 31%;
          top: 53%;
          left: -11%;
          opacity: 0.5;
          -webkit-animation: rotating 38s linear infinite reverse;
          animation: rotating 38s linear infinite reverse;
        }
      }
    }

    .main-content {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      .container {
        height: 100%;

        .testimonial-layout {
          height: 60%;
          top: 20%;
          position: relative;
          z-index: 2;
          display: flex;

          .member-image-slider-holder,
          .member-quote-slider-holder {
            height: 100%;
            flex: 0;
          }

          .member-image-slider-holder {
            width: 33.333%;
            flex-basis: 33.333%;

            .oppo-member-image-slider {
              width: 100%;
              height: 100%;

              .slick-list,
              .slick-track {
                height: 100%;

                div {
                  height: 100%;
                }
              }

              .member-img-item {
                width: 100%;
                height: 100%;
                display: block !important;
                padding-right: 30px;
                opacity: 0;
                transform: translateX(-2rem);

                * {
                  height: 100%;
                }

                .img-holder {
                  height: 100%;

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    display: block;
                  }
                }
              }

              .slick-active {
                .member-img-item {
                  opacity: 1;
                  -webkit-transform: translateX(0);
                  transform: translateX(0);
                  transition: all ease-out 400ms 400ms;
                }
              }
            }
          }

          .member-quote-slider-holder {
            width: 66.666%;
            flex-basis: 66.666%;

            .oppo-member-quote-slider {
              height: 100%;

              .slick-list,
              .slick-track,
              .slick-slide > div {
                height: 100%;
              }

              .slick-slide > div {
                display: flex;
                align-items: center;
              }

              .quote-item {
                height: 52%;
                padding: 0 20px 2rem 140px;
                position: relative;

                .decor {
                  position: absolute;
                  bottom: 100%;
                  right: calc(100% - 120px);
                  width: 70px;

                  opacity: 0;
                  transform-origin: bottom 100%;
                  -webkit-transform: translateX(3rem) scale(0.5);
                  transform: translateX(3rem) scale(0.5);

                  .img-holder {
                    img {
                      display: block;
                      width: 100%;
                    }
                  }
                }

                .context {
                  opacity: 0;
                  -webkit-transform: translateX(3rem);
                  transform: translateX(3rem);

                  .member-name {
                    font-size: 2.25rem;
                    line-height: 1.15;
                    margin-bottom: 0;
                  }
                  .member-role {
                    margin-bottom: 1.35rem;
                  }
                  .member-quote {
                    text-align: justify;
                  }
                }
              }

              .slick-active {
                .quote-item {
                  .decor,
                  .context {
                    opacity: 1;
                    -webkit-transform: translateX(0) scale(1);
                    transform: translateX(0) scale(1);
                    transition: all ease-out 500ms;
                  }

                  .decor {
                    transition: all ease-out 400ms 200ms;
                  }
                }
              }

              .slick-dots {
                display: flex;
                padding-left: 140px;
                position: absolute;
                bottom: 20%;

                li {
                  margin: 0 6px;

                  &:first-child {
                    margin-left: 0;
                  }

                  button {
                    text-indent: -9999px;
                    display: block;
                    font-size: 0.1rem;
                    width: 18px;
                    height: 18px;
                    border: 1px solid $oppo;
                    border-radius: 9px;
                    padding: 0;
                    background-color: transparent;
                    outline: none;
                  }

                  &.slick-active {
                    button {
                      background-color: $oppo;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  /* Testimonials - END */
}
