#hr-about-page {
  /* OPPO Archivement */
  .section-archivement,
  #about-archivement {
    margin-bottom: 30px;

    .content-body {
      margin-top: 40px;

      .archivement-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;

        .archivement-block {
          .bg-holder {
            width: 100%;
            height: 28.125vw;
            background-color: #999;
            background-size: cover;
            background-position: center;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }

          .context {
            width: 700px;
            text-align: center;
            line-height: 4;
            font-size: 22.5px;
            transition: all 150ms ease-in;
          }

          &.archivement-global {
            .context {
              margin-left: auto;
            }
          }

          &:hover {
            .context {
              color: $oppo;
              transition: all 150ms ease-out;
            }
          }
        }
      }
    }
  }
  /* OPPO Archivement - END */

  /* RESPONSIVE */
  @media #{$information-md-screen} {
    .section-archivement,
    #about-archivement {
      margin-bottom: 26.25px;

      .content-body {
        margin-top: 35px;

        .archivement-layout {
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 10px;

          .archivement-block {
            .context {
              width: 50%;
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  @media #{$information-sm-screen} {
    .section-archivement,
    #about-archivement {
      margin-bottom: 21.375px;

      .content-body {
        margin-top: 28.5px;

        .archivement-layout {
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 10px;

          .archivement-block {
            .context {
              width: 50%;
              font-size: 18.5px;
            }
          }
        }
      }
    }
  }

  @media #{$information-sm-laptop} {
    .section-archivement,
    #about-archivement {
      margin-bottom: 17.5px;

      .content-body {
        margin-top: 20px;

        .archivement-layout {
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 10px;

          .archivement-block {
            .context {
              width: 50%;
              font-size: 17.5px;
            }
          }
        }
      }
    }
  }

  @media #{$information-tablet} {
    .section-archivement,
    #about-archivement {
      margin-bottom: 17.5px;

      .content-body {
        margin-top: 20px;

        .archivement-layout {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
          grid-column-gap: 10px;
          padding: 0 30px;

          .archivement-block {
            .bg-holder {
              height: 42vw;
            }

            .context {
              width: 100%;
              font-size: 22.5px;
            }
          }
        }
      }
    }
  }

  @media #{$information-phone} {
    .section-archivement,
    #about-archivement {
      margin-bottom: 17.5px;

      .content-body {
        margin-top: 20px;

        .archivement-layout {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
          grid-column-gap: 10px;
          padding: 0 15px;

          .archivement-block {
            .bg-holder {
              height: 52vw;
            }

            .context {
              width: 100%;
              font-size: 17.5px;
              line-height: 3.25;
            }
          }
        }
      }
    }
  }

  @media #{$information-sm-phone} {
    .section-archivement,
    #about-archivement {
      margin-bottom: 12.5px;

      .content-body {
        margin-top: 20px;

        .archivement-layout {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
          grid-column-gap: 10px;
          padding: 0 15px;

          .archivement-block {
            .bg-holder {
              height: 52vw;
            }

            .context {
              font-size: 16.5px;
              line-height: 3;
            }
          }
        }
      }
    }
  }
}
