#hr-about-page {
  /* Section Intro */
  .section-about-intro,
  #about-intro {
    .content-head {
      .title {
        margin: 96px 0 45px;
      }
    }

    .content-body {
      margin-top: 40px;
      height: 32.5vw;
      background-position: center;
      background-size: cover;
      background-image: url("../img/about/intro-bg.jpg");
      background-attachment: fixed;

      .oppo-scale {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 6.25vw 3.125vw;
        flex-direction: column;
        height: 100%;

        .scale-head {
          margin-bottom: 5vw;

          h4 {
            font-size: 27.5px;
            font-weight: 400;
            line-height: 1.35;
          }
        }

        .scale-body {
          .scale-detail-layout {
            display: flex;

            .scale-item {
              width: 20%;
              flex-basis: 20%;
              text-align: center;

              .ico-holder {
                width: 30%;
                margin: 0 auto 25px;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                  max-width: 100%;
                  max-height: 100%;
                  display: block;
                }
              }

              .scale-context {
                .desc {
                  line-height: 1.55;

                  .highlight {
                    line-height: 0.7;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  /* Section Intro - END */

  /* RESPONSIVE */
  @media #{$information-md-screen} {
    .section-about-intro,
    #about-intro {
      .content-head {
        .title {
          margin: 80px 0 35px;
        }
      }

      .content-body {
        margin-top: 25px;

        .oppo-scale {
          padding: 6vw 3.125vw;

          .scale-head {
            margin-bottom: 5.25vw;

            h4 {
              font-size: 27.5px;
            }
          }

          .scale-body {
            .scale-detail-layout {
              .scale-item {
                .ico-holder {
                  width: 30%;
                  margin: 0 auto 25px;
                  height: 65px;
                }

                .scale-context {
                  .desc {
                    line-height: 1.55;

                    .highlight {
                      line-height: 0.7;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media #{$information-sm-screen} {
    .section-about-intro,
    #about-intro {
      .content-head {
        .title {
          margin: 72.5px 0 32.5px;
        }
      }

      .content-body {
        margin-top: 25px;

        .oppo-scale {
          .scale-head {
            margin-bottom: 5.25vw;

            h4 {
              font-size: 25px;
            }
          }

          .scale-body {
            .scale-detail-layout {
              .scale-item {
                .ico-holder {
                  width: 30%;
                  margin: 0 auto 25px;
                  height: 43px;
                }

                .scale-context {
                  .desc {
                    line-height: 1.55;

                    .highlight {
                      line-height: 0.7;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media #{$information-sm-laptop} {
    .section-about-intro,
    #about-intro {
      .content-head {
        .title {
          margin: 70px 0 22.5px;
        }
      }

      .content-body {
        margin-top: 22.5px;

        .oppo-scale {
          .scale-head {
            margin-bottom: 5.25vw;

            h4 {
              font-size: 22.5px;
            }
          }

          .scale-body {
            .scale-detail-layout {
              .scale-item {
                .ico-holder {
                  width: 30%;
                  margin: 0 auto 22.5px;
                  height: 40px;
                }

                .scale-context {
                  .desc {
                    line-height: 1.5;

                    .highlight {
                      line-height: 0.7;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /* TABLET */
  @media #{$information-lg-tablet} {
    .section-about-intro,
    #about-intro {
      .content-head {
        .title {
          margin: 70px 0 35px;
        }
      }

      .content-body {
        margin-top: 30px;
        height: 125vw;

        .oppo-scale {
          padding: 7.5vw 30px;

          .scale-head {
            margin-bottom: 5vw;

            h4 {
              font-size: 30px;
            }
          }

          .scale-body {
            .scale-detail-layout {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;

              .scale-item {
                width: 50%;
                flex-basis: 50%;
                text-align: center;
                margin-bottom: 30px;

                .ico-holder {
                  width: 30%;
                  margin: 0 auto 30px;
                  height: 70px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media #{$information-lg-tablet} {
    .section-about-intro,
    #about-intro {
      .content-head {
        .title {
          margin: 60px 0 37.5px;
        }
      }

      .content-body {
        margin-top: 25px;
        height: auto;

        .oppo-scale {
          padding: 7.5vw 30px 5vw;

          .scale-head {
            margin-bottom: 5vw;

            h4 {
              font-size: 25px;
            }
          }

          .scale-body {
            .scale-detail-layout {
              .scale-item {
                margin-bottom: 25px;

                .ico-holder {
                  width: 30%;
                  margin: 0 auto 25px;
                  height: 60px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media #{$information-phone} {
    .section-about-intro,
    #about-intro {
      .content-head {
        .title {
          margin: 50px 0 20px;
        }
      }

      .content-body {
        margin-top: 25px;
        height: auto;

        .oppo-scale {
          padding: 7vw 30px 4vw;

          .scale-head {
            margin-bottom: 3vw;

            h4 {
              font-size: 17.5px;
            }
          }

          .scale-body {
            .scale-detail-layout {
              .scale-item {
                width: 100%;
                flex-basis: 100%;
                margin-bottom: 20px;

                .ico-holder {
                  width: 30%;
                  margin: 15px auto 25px;
                  height: 46px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media #{$information-sm-phone} {
    .section-about-intro,
    #about-intro {
      .content-head {
        .title {
          margin: 45px 0 20px;
        }
      }

      .content-body {
        margin-top: 22.5px;
        height: auto;

        .oppo-scale {
          padding: 7vw 30px 4vw;

          .scale-head {
            margin-bottom: 3vw;

            h4 {
              font-size: 15.5px;
            }
          }

          .scale-body {
            .scale-detail-layout {
              .scale-item {
                margin-bottom: 10px;

                .ico-holder {
                  width: 30%;
                  margin: 12px auto 17.5px;
                  height: 40px;
                }
              }
            }
          }
        }
      }
    }
  }
}
