@import "home/banner";
@import "home/about";
@import "home/global";
@import "home/oppotunities";
@import "home/testimonials";
@import "home/family";

// ANIMATION KEYFRAMES
@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes arrowMove {
  0%,
  100%,
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  75% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
}
@keyframes arrowMove {
  0%,
  100%,
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  75% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
}
