#hr-home-page {
  /* Banner */
  .section-banner {
    height: 47.91666vw;
    overflow: hidden;

    .banner-slider {
      position: relative;

      .banner-control.banner-next,
      .banner-control.banner-prev {
        position: absolute;
        width: 60px;
        height: 60px;
        top: calc(50% - 30px);
        cursor: pointer;
        z-index: 3;

        .shape-holder {
          width: 60px;
          height: 60px;
          border: 3px solid $oppo;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }

      .banner-control.banner-next {
        right: 60px;
        animation: arrowMove 1s linear infinite;

        .shape-holder {
          border-bottom: 0;
          border-left: 0;
        }
      }

      .banner-control.banner-prev {
        left: 60px;
        animation: arrowMove 1s 0.5s linear infinite;

        .shape-holder {
          border-top: 0;
          border-right: 0;
        }
      }
    }

    .slick-dots {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      bottom: 2rem;

      li {
        display: inline-block;
        margin: 0 6px;

        &:first-child {
          margin-left: 0;
        }

        button {
          text-indent: -9999px;
          display: block;
          font-size: 0.1rem;
          width: 18px;
          height: 18px;
          border: 1px solid $oppo;
          border-radius: 9px;
          padding: 0;
          background-color: transparent;
          outline: none;
        }

        &.slick-active {
          button {
            background-color: $oppo;
          }
        }
      }
    }
  }

  /* About */
  .section-about-oppo,
  #home-about-oppo {
    position: relative;
    height: 53.125vw;

    .main-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 2;
    }

    .people-img-holder {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;

      .img-holder {
        img {
          display: block;
          width: 100%;
        }
      }
    }

    .grad-overlay {
      z-index: 2;
    }
  }
  /* About - END */

  /* Job Oppotuinities */
  .section-job-oppotunities,
  #home-job-opportunities {
    background-image: -webkit-linear-gradient(#ffffff, #f0f0f0);
    background-image: linear-gradient(#ffffff, #f0f0f0);

    .main-content {
      .content-head {
      }

      .content-body {
        .job-list-layout {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-column-gap: 10px;
          grid-row-gap: 80px;

          .job-item {
            .job-thumbnail {
              height: 17.708333vw;
              overflow: hidden;

              .img-holder {
                height: 100%;
                transition: all linear 300ms;

                img {
                  display: block;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-position: center;
                }
              }
            }

            .job-detail {
              height: 6.25vw;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              text-transform: uppercase;
              transition: all ease-in 150ms;
              position: relative;
              overflow: hidden;

              .job-detail-effect {
                width: 27vw;
                height: 27vw;
                position: absolute;
                background-color: $oppo;
                border-radius: 50%;
                opacity: 0;
                transform: scale(0);
              }

              .job-label {
                font-size: 1.5rem;
                margin: 0;
                transition: all ease-in 150ms;
                position: relative;
                z-index: 2;
              }
            }

            &:hover {
              .job-thumbnail {
                .img-holder {
                  transform: scale(1.06);
                  transition: all cubic-bezier(0.27, 0.85, 0.58, 1) 0.6s;
                }
              }

              .job-detail {
                .job-detail-effect {
                  transform: scale(1);
                  opacity: 1;
                  transition: all cubic-bezier(0.27, 0.85, 0.58, 1) 0.6s;
                }

                .job-label {
                  color: $white;
                  transition: all ease-out 300ms;
                }
              }
            }
          }
        }
      }

      .content-footer {
        .context {
          height: 100px;
          font-size: 1.5625rem;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .lightbulb {
            width: 41px;
            margin-right: 0.65rem;
            -webkit-transform: translateY(-14%);
            transform: translateY(-14%);

            img,
            picture {
              display: block;
              width: 100%;
            }
          }

          .divider {
            -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
            margin: 0 0.5rem;
          }

          .arrow {
            height: 2rem;
            margin-left: 0.65rem;
            img {
              display: block;
              height: 100%;
            }
          }
        }
      }
    }
  }
  /* Job Oppotuinities - END */

  /* OPPO Global */
  .section-oppo-global,
  #home-oppo-global {
    position: relative;
    overflow: hidden;
    background-color: #f8f8f8;
    height: 54vw;

    .oppo-archivements {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 1rem;
      grid-template-rows: 135px;
      padding: 0 0.5rem;

      .archive-item {
        background-color: $oppo;
        border-radius: 20px;
        box-shadow: 0 0 8px rgba(#000, 0.5);
        font-size: 1.35rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .context {
          color: $white;
        }
      }
    }

    .globe-holder {
      position: absolute;
      top: 52%;
      left: 0;
      right: 0;

      canvas {
        width: 94%;
        height: auto;
        display: block;
        margin: auto;
        opacity: 0.25;
      }
    }
  }
  /* OPPO Global - END */

  /* OPPO Family */
  .section-oppo-family,
  #home-oppo-family {
    .oppo-family-layout {
      margin-top: 4rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 10px;

      .family-item {
        position: relative;
        overflow: hidden;
        height: 33.6vw;

        .img-holder {
          height: 100%;
          transition: all linear 0.4s;

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .context {
          background-color: rgba(darken($oppo, 8%), 0.65);
          color: $white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
          transition: all ease-in 100ms;

          * {
            color: $white;
          }

          .context-title {
            font-size: 2.3125rem;
            margin-bottom: 0.5rem;
            opacity: 0;
            -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
            transition: all ease-in 10ms 100ms;
          }

          .context-desc {
            padding: 0 5%;
            opacity: 0;
            -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
            transition: all ease-in 10ms 100ms;
          }
        }

        &:hover {
          .img-holder {
            transform: scale(1.075);
            transition: all ease-out 1s;
          }

          .context {
            opacity: 1;
            transition: all ease-out 150ms;

            .context-title {
              opacity: 1;
              -webkit-transform: translateY(0);
              transform: translateY(0);
              transition: all ease-out 330ms 130ms;
            }

            .context-desc {
              opacity: 1;
              -webkit-transform: translateY(0);
              transform: translateY(0);
              transition: all ease-out 330ms 260ms;
            }
          }
        }
      }
    }
  }
  /* OPPO Family - END */

  /* Testimonials */
  .section-testimonial,
  #home-testimonial {
    height: 40.625vw;
    width: 100%;
    overflow: hidden;
    position: relative;

    .next-slide,
    .prev-slide {
      position: absolute;
      width: 60px;
      height: 60px;
      top: calc(50% - 30px);
      cursor: pointer;

      .shape-holder {
        width: 60px;
        height: 60px;
        border: 3px solid $oppo;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    .next-slide {
      right: 60px;
      animation: arrowMove 1s linear infinite;

      .shape-holder {
        border-bottom: 0;
        border-left: 0;
      }
    }

    .prev-slide {
      left: 60px;
      animation: arrowMove 1s 0.5s linear infinite;

      .shape-holder {
        border-top: 0;
        border-right: 0;
      }
    }

    .bg-effect {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .decor-circle {
        position: absolute;

        .img-holder {
          img {
            width: 100%;
            display: block;
          }
        }

        &.circle-1 {
          width: 79%;
          top: -123%;
          left: 5%;
          opacity: 0.8;
          -webkit-animation: rotating 125s linear infinite;
          animation: rotating 125s linear infinite;
        }

        &.circle-2 {
          width: 38%;
          top: -33%;
          left: 75%;
          opacity: 0.6;
          -webkit-animation: rotating 59s linear infinite;
          animation: rotating 59s linear infinite;
        }

        &.circle-3 {
          width: 31%;
          top: 53%;
          left: -11%;
          opacity: 0.5;
          -webkit-animation: rotating 38s linear infinite reverse;
          animation: rotating 38s linear infinite reverse;
        }
      }
    }

    .main-content {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      .container {
        height: 100%;

        .testimonial-layout {
          height: 60%;
          top: 20%;
          position: relative;
          z-index: 2;
          display: flex;

          .member-image-slider-holder,
          .member-quote-slider-holder {
            height: 100%;
            flex: 0;
          }

          .member-image-slider-holder {
            width: 33.333%;
            flex-basis: 33.333%;

            .oppo-member-image-slider {
              width: 100%;
              height: 100%;

              .slick-list,
              .slick-track {
                height: 100%;

                div {
                  height: 100%;
                }
              }

              .member-img-item {
                width: 100%;
                height: 100%;
                display: block !important;
                padding-right: 30px;
                opacity: 0;
                transform: translateX(-2rem);

                * {
                  height: 100%;
                }

                .img-holder {
                  height: 100%;

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    display: block;
                  }
                }
              }

              .slick-active {
                .member-img-item {
                  opacity: 1;
                  -webkit-transform: translateX(0);
                  transform: translateX(0);
                  transition: all ease-out 400ms 400ms;
                }
              }
            }
          }

          .member-quote-slider-holder {
            width: 66.666%;
            flex-basis: 66.666%;

            .oppo-member-quote-slider {
              height: 100%;

              .slick-list,
              .slick-track,
              .slick-slide > div {
                height: 100%;
              }

              .slick-slide > div {
                display: flex;
                align-items: center;
              }

              .quote-item {
                height: 52%;
                padding: 0 20px 2rem 140px;
                position: relative;

                .decor {
                  position: absolute;
                  bottom: 100%;
                  right: calc(100% - 120px);
                  width: 70px;

                  opacity: 0;
                  transform-origin: bottom 100%;
                  -webkit-transform: translateX(3rem) scale(0.5);
                  transform: translateX(3rem) scale(0.5);

                  .img-holder {
                    img {
                      display: block;
                      width: 100%;
                    }
                  }
                }

                .context {
                  opacity: 0;
                  -webkit-transform: translateX(3rem);
                  transform: translateX(3rem);

                  .member-name {
                    font-size: 2.25rem;
                    line-height: 1.15;
                    margin-bottom: 0;
                  }
                  .member-role {
                    margin-bottom: 1.35rem;
                  }
                  .member-quote {
                    text-align: justify;
                  }
                }
              }

              .slick-active {
                .quote-item {
                  .decor,
                  .context {
                    opacity: 1;
                    -webkit-transform: translateX(0) scale(1);
                    transform: translateX(0) scale(1);
                    transition: all ease-out 500ms;
                  }

                  .decor {
                    transition: all ease-out 400ms 200ms;
                  }
                }
              }

              .slick-dots {
                display: flex;
                padding-left: 140px;
                position: absolute;
                bottom: 20%;

                li {
                  margin: 0 6px;

                  &:first-child {
                    margin-left: 0;
                  }

                  button {
                    text-indent: -9999px;
                    display: block;
                    font-size: 0.1rem;
                    width: 18px;
                    height: 18px;
                    border: 1px solid $oppo;
                    border-radius: 9px;
                    padding: 0;
                    background-color: transparent;
                    outline: none;
                  }

                  &.slick-active {
                    button {
                      background-color: $oppo;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  /* Testimonials - END */
}
@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes arrowMove {
  0%,
  100%,
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  75% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
}
@keyframes arrowMove {
  0%,
  100%,
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  75% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
}
