html,
body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;

  * {
    box-sizing: border-box;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }

  ul,
  li {
    padding: 0;
    text-indent: 0;
    list-style: none;
    margin: 0;
  }

  .container {
    width: 1440px;
    max-width: 100%;
    margin: auto;
    padding: 0 1rem;
  }

  .container-fluid {
    width: 100%;
    padding: 0 1rem;
  }

  .no-pad {
    padding: 0;
  }

  .txt-center,
  .text-center {
    text-align: center;
  }

  .txt-right,
  .txt-right {
    text-align: right;
  }

  .grad-overlay {
    background-image: $gray-gradient;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vw;
  }
}
