@font-face {
  font-family: "Myriad Pro";
  font-weight: 400;
  src: url("../fonts/MYRIADPRO-REGULAR.OTF");
}

@font-face {
  font-family: "Myriad Pro";
  font-weight: 600;
  src: url("../fonts/MYRIADPRO-SEMIBOLD.OTF");
}

@font-face {
  font-family: "Myriad Pro";
  font-weight: 800;
  src: url("../fonts/MYRIADPRO-BOLD.OTF");
}

/* === TYPOGRAPHY === */
* {
  font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
  color: $txt-color;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 1.5625rem;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

p {
  margin-top: 0;
}

.white-txt {
  color: $white !important;

  * {
    color: $white !important;
  }
}

.green-txt,
.txt-green {
  color: $oppo !important;

  * {
    color: $oppo !important;
  }
}

.title {
  font-size: 3.75rem;
  margin: 5.625rem 0 5rem;
  font-weight: 400;
}

.sub-title {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 2.25rem 0 0.15rem;
}

.highlight {
  font-size: 1.8em;
  color: inherit;
}

.desc,
p,
.desc-item {
  font-size: 1.5625rem;
  line-height: 1.44;
}

.inline-img {
  display: inline-block;
  vertical-align: baseline;
  line-height: 1;
}

.uppercase {
  text-transform: uppercase;
}
