@font-face {
  font-family: "Myriad Pro";
  font-weight: 400;
  src: url("../fonts/MYRIADPRO-REGULAR.OTF");
}

@font-face {
  font-family: "Myriad Pro";
  font-weight: 600;
  src: url("../fonts/MYRIADPRO-SEMIBOLD.OTF");
}

@font-face {
  font-family: "Myriad Pro";
  font-weight: 800;
  src: url("../fonts/MYRIADPRO-BOLD.OTF");
}

/* === TYPOGRAPHY === */
* {
  font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
  color: $txt-color;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

p {
  margin-top: 0;
}

.white-txt {
  color: $white !important;

  * {
    color: $white !important;
  }
}

.green-txt {
  color: $oppo !important;

  * {
    color: $oppo !important;
  }
}

.title {
  font-size: 3rem;
  margin-top: 5rem;
  font-weight: 400;
}

.sub-title {
}

.highlight {
  font-size: 2em;
}

.desc,
p {
  font-size: 1.15rem;
  line-height: 1.44;
}
