/* =======================================
 * COLOR
 /* ======================================= */
$white: #fff;
$txt-color: #000000;
$black: #000;
$gray-gradient: linear-gradient(#c7c7c7, #fff);
$oppo: #046a38;

/* =======================================
 * OTHERS
 /* ======================================= */

/* =======================================
 * RESPONSIVE MARKERS
 /* ======================================= */
$information-lg-screen: "only screen and (max-width : 1920px)"; // Desktop Screen
$information-md-screen: "only screen and (max-width : 1680px)"; // Macbook 15" screen
$information-sm-screen: "only screen and (max-width : 1440px)"; // Middle screen between 13" and 15"
$information-laptop: "only screen and (max-width : 1368px)"; // Laptop 1368x768px
$information-sm-laptop: "only screen and (max-width : 1280px)"; // Small Laptop 1280x600px
$information-tablet: "only screen and (max-width : 768px)";
$information-lg-phone: "only screen and (max-width : 576px)";
$information-phone: "only screen and (max-width : 480px)";
$information-sm-phone: "only screen and (max-width : 376px)";
$information-lg-tablet: "only screen and (max-width : 1024px)";

/* USAGE */
@media #{$information-sm-laptop} {
}
